<div class="left-content">
  <%= render @recipe %>
</div>
<div class="right-content">
  <h2>Ingredients</h2>
  <p><%= markdown @recipe.ingredients %></p>
  <h2>Method</h2>
  <p><%= markdown @recipe.instructions %></p>
</div>



