<div class="left-content">
</div>
<div class="right-content">
  <div class="tips-container">
    <h1>Kitchen tips</h1>
    <p>
      <ul>
        <li>
          Buy yourself a good quality knife set for your kitchen bench at home. Sharp knives are the most important part of cooking in my opinion. Good quality knives will last forever if their sharpened regularly. Spend a little extra money and you will save yourself an enormous amount of pain and strain with your knives.
        </li>
        <li>
          When you use any type of cutting board, remember to place a wet cloth or a wet chuck underneath. This prevents the board from moving.
        </li>
        <li>
          Before you start cooking, have an idea of what your making and which ingredients you will be using for that particular meal. Have all the ingredients you will be working with out on the bench prior to starting the meal. This means you can stay close to what your making without going backwards and forwards to the pantry.
        </li>
      </ul>
    </p>
  </div>
</div>