<div class="left-content">
</div>
<div class="right-content">
  <div class="tips-container">
    <h1>Kitchen tips</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit tempore nisi ad eum atque quidem! Doloremque id nesciunt dolorem. Qui tenetur cumque, iste quod nisi beatae alias nihil obcaecati eaque.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit tempore nisi ad eum atque quidem! Doloremque id nesciunt dolorem. Qui tenetur cumque, iste quod nisi beatae alias nihil obcaecati eaque.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit tempore nisi ad eum atque quidem! Doloremque id nesciunt dolorem. Qui tenetur cumque, iste quod nisi beatae alias nihil obcaecati eaque.
    </p>
  </div>
</div>