/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

body, html {
margin: 0;
padding: 0;
font-family: helvetica;
padding-top: 10px;
}

nav {
  height: 100px;
  background-color: orangered;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;

  h1 {
    display: inline;
    float: left;
    line-height: 100px;
    margin: 0 10px;
    text-transform: uppercase;
  }

  .nav-links {
    text-align: right;
    margin: 0 auto;

    & > a {
      line-height: 100px;
      font-size: 2em;
    }
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
  }

  .nav-menu {
    background-color: orangered;
    margin: 0;
    overflow: hidden;
    -webkit-transition: width 0.8s;
    -moz-transition: width 0.8s;
    transition: width 0.8s;
    position: fixed;
    top: 100px;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 0px;

    ul {
      width: 200px;
      padding: 20px 40px;
    }

    a {
      display: block;
    }
  }

  li {
    display: block;
  }

  .hamburger {
    display: inline-block;
    padding: 20px;
  }

  .show-menu {
    padding-bottom: 1.1em;
    width: 200px;
  }
}

 .container {
  max-width: 960px;
  margin: 100px auto;
 }

.recipe-card {
  float: left;
  width: 320px;
  height: 320px;
  position: relative;

  &:hover {
    background-color: rgba(255, 69, 0, 0.64);
    .recipe-card-background {
      -webkit-filter: grayscale(0%);
    }
  }

  h2 {
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5em;
  }
}

.recipe-card-content {
  padding: 20px;
}

.recipe-card-background {
  height:100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%) blur(1px);
  -moz-filter: grayscale(100%) blur(1px);
}

