<div>
<%= image_tag image.image.small %>
<p><%= image.caption %></p>
<% if admin_signed_in? %>
  <%= link_to 'Delete image', recipe_image_path(image.recipe_id, image.id), method: :delete, class: 'btn' %>
<% end %>
</div>